body {
  margin: 0;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;  
  background-color: #fff;
  font-style: italic;
}

header h1, footer p {
  background-color: #333;
  text-align: center; 
  margin: 0;
  padding: 20px;
  color: rgb(85, 236, 25);
}

main img {
  border-radius: 10px;
  border: 1px solid black;
  margin: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;    
}

main div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px; 
  font-size: 21px; 
  background-color: rgb(85, 236, 25);    
}